<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>广西北海古摄影婚纱摄影艺术摄影网</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keywords" content="婚纱摄影|北海婚纱摄影|北海影楼|北海婚纱摄影|北海婚纱照|北海外景婚纱摄影|北海艺术照|北海旅游婚纱摄影|北海古摄影|婚纱照拍摄|拍婚纱照|婚纱造型|北海婚纱摄影工作室|北海婚纱摄影团购">
        <meta name="description" content="集合北海时尚、经典、高贵的顶级影楼，顶级服务，全北海汇集多个豪华外景，专业拍摄婚纱照、艺术照、孕妇照、宝宝照、情侣照、全家福等，富含宫廷、画意、时尚、韩式青春风格，欧式典雅风格，中式传统风格等主题 宗旨为顾客提供高质量的精美婚纱艺术照的最好的婚纱摄影公司之一！">
        <meta name="shenma-site-verification" content="285fa7ad333293d4c78958589ffab1a0_1433918358">
        <!--UC收录-->
        <link rel="shortcut icon" href="http://www.beihaiguphoto.com/statics_lp/katila/icon/favicon.ico">
        <link href="http://www.beihaiguphoto.com/statics_lp/katila/css/base.css" rel="stylesheet" type="text/css">
        <link href="http://www.beihaiguphoto.com/statics_lp/katila/css/style.css" rel="stylesheet" type="text/css">
        <script charset="utf-8" src="https://trust.baidu.com/vcard/v.js?siteid=4891641&amp;url=http%3A%2F%2Fwww.beihaiguphoto.com%2F&amp;source=&amp;rnd=822848638&amp;hm=1"></script>
        <script src="http://www.beihaiguphoto.com/statics_lp/katila/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="http://www.beihaiguphoto.com/statics/js/pc_mobile.js"></script>
        <script type="text/javascript" src="http://www.beihaiguphoto.com/statics_lp/katila/js/common.js"></script>
        <script type="text/javascript" src="http://www.beihaiguphoto.com/statics_lp/katila/js/activity.js"></script>
        <script type="text/javascript" src="http://www.beihaiguphoto.com/statics_lp/katila/scripts/swfobject_modified.js"></script>
    </head>
    <body class="bodySmallWidth">
        <header>
            <div class="head" style="">
                <div class="header">
                    <a href="index.html" target="_blank">
                        <img class="fl" src="http://www.beihaiguphoto.com/statics_lp/katila/images/logo_fix.png">
                    </a>
                    <!--只是首页的head有播放器-->
                    <ul class="fr nav showcase_fix_title">
                        <li class="contuct"><a href="/">首页<b>Home</b></a></li>
                        <li class="contuct"><a href="/index.php?m=content&amp;c=index&amp;a=lists&amp;catid=257" target="_blank">服务报价<b>Quotation</b></a></li>
                        <li class="contuct"><a href="/index.php?m=content&amp;c=index&amp;a=lists&amp;catid=68" target="_blank">店内展示<b>Store</b></a></li>
                        <li class="contuct"><a href="/index.php?m=content&amp;c=index&amp;a=lists&amp;catid=69" target="_blank">客户评价<b>Evaluation</b></a></li>
                        <li class="contuct"><a href="javascript:;" class="kp">客片展示<b>Guest</b></a></li>
                        <li class="contuct"><a href="javascript:;" class="yp">样片展示<b>Sample</b></a></li>
                        <li class="contuct"><a href="javascript:;" class="ys">十大优势<b>Ten</b></a></li>
                        <li class="contuct"><a href="javascript:;" class="hd">最新活动<b>Activities</b></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <script src="http://www.beihaiguphoto.com/statics_lp/katila/js/page_loveshow_2015.js" type="text/javascript"></script>
        <script src="http://www.beihaiguphoto.com/statics_lp/katila/js/list_2015.js" type="text/javascript"></script>
        <script src="http://www.beihaiguphoto.com/statics_lp/katila/js/page_main_banner.js" type="text/javascript"></script>
        <div id="banner_play" class="bannerJs-box">
            <div class="bannerJs-move w">
                <div class="banner showCaseBanner bannerJs">
                    <a href="http://beihai.gulove.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=15&amp;id=100" class="fadeIn"><img alt="" src="http://beihai.gulove.com/uploadfile/cd/2016/1205/20161205052900418.jpg" style="width: 1920px; height: 824px;"></a><br>
                </div>
            </div>
        </div>
        <div class="showcase_fix_top_info">
            <img src="http://www.beihaiguphoto.com/statics_lp/katila/images/showcase_2015_top_info.jpg">
        </div>
        <div class="loveShow-area">
            <div class="loveShow-area-title-box">
                <div class="loveShow-area-title loveShow-area-title-kp activeTitle">
                    <h2 id="area-kp-title">
                        <img src="http://www.beihaiguphoto.com/statics_lp/katila/images/beihai_index_title.png">
                    </h2>
                </div>
            </div>
           <div class="loveShow-ddd loveShow">
                <ul index01="20" class="fl">
                    <ul index01="20" class="fl">
                        <li style="opacity: 1;">
                            <div class="loveShowBox">
                                <a href="http://beihai.gulove.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=11&amp;id=705" target="_blank">
                                    <img src="http://beihai.gulove.com/uploadfile/cd/2016/1121/20161121061752159.jpg">
                                </a>
                                <div style="opacity:1;" class="bg">
                                    <h3>
                                        <a href="http://beihai.gulove.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=11&amp;id=705" target="_blank">Mrs.黄&amp;Mr.黄</a>
                                    </h3>
                                    <img src="statics_lp/katila/images/loveshow.png">
                                </div>
                            </div>
                        </li>
                        <li style="opacity: 1;">
                            <div class="loveShowBox">
                                <a href="http://beihai.gulove.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=11&amp;id=705" target="_blank">
                                    <img src="http://beihai.gulove.com/uploadfile/cd/2016/1121/20161121061752159.jpg">
                                </a>
                                <div style="opacity:1;" class="bg">
                                    <h3>
                                        <a href="http://beihai.gulove.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=11&amp;id=705" target="_blank">Mrs.黄&amp;Mr.黄</a>
                                    </h3>
                                    <img src="statics_lp/katila/images/loveshow.png">
                                </div>
                            </div>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </body>
</html>